@using PdfDemo.Model
@model PdfReportViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>

</head>
<body>
    @*<a href="@Url.Action("ExportToPdf", "PdfReport", new { Branch = Model.Branch, AuditDate = Model.AuditDate, Location = "206" })"
           type="submit"
           id="runReport"
           target="_blank"
           class="button Secondary">
            Export to PDF
        </a>*@

    @*@Html.ActionLink("Print Details View To PDF", "ExportToPdf", new { Branch = Model.Branch, AuditDate = Model.AuditDate, Location = "206" }) |*@
    @using (Html.BeginForm("Export", "Home", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.Branch)
        @Html.HiddenFor(model => model.AuditDate)

        <input type="submit" id="btnSubmit" value="Export" />
    }
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnSubmit").click(function () {
                $("input[name='GridHtml']").val($("#FinalReport").html());
            });
        });
    </script>
    <div class="PageHeaderSection" style="height:100%;position:unset;">
        <div class="card">
            <div class="card-body bg-info text-white"><h4 style="text-align:center;">Max Life Audit Report</h4></div>
        </div>
        <div class="card-body">

            <div class="form-group table-striped">

                <div class="row">
                    <div class="col-md-4">

                       
                            @Html.LabelWithColonFor(model => model.Header.BranchCode)
                            @Html.DisplayFor(model => model.Header.BranchCode)
                </div>
                    <div class="col-md-4">
                        @Html.LabelWithColonFor(model => model.Header.BranchName)<span>:</span>
                        @Html.DisplayFor(model => model.Header.BranchName)
                    </div>
                    <div class="col-md-4">
                        @Html.LabelWithColonFor(model => model.Header.FOName)<span>:</span>
                        @Html.DisplayFor(model => model.Header.FOName)
                    </div>
                    <div class="col-md-4">
                        @Html.LabelWithColonFor(model => model.Header.AuditDate)<span>:</span>
                        @Html.DisplayFor(model => model.Header.AuditDate)
                    </div>
                    <div class="col-md-4">
                        @Html.LabelWithColonFor(model => model.Header.SpocName)<span>:</span>
                        @Html.DisplayFor(model => model.Header.SpocName)
                    </div>
                    <div class="col-md-4">
                        @Html.LabelWithColonFor(model => model.Header.SpocNumber)<span>:</span>
                        @Html.DisplayFor(model => model.Header.SpocNumber)
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div id="FinalReport">
     

        <table class="table-bordered">
            <tr style="background-color:lightblue;color:black;font-family:Arial;font-size:11px;font-weight:bold;">
                <th class="Column1">
                    @Html.DisplayNameFor(model => model.ColumnDetails.ChecklistId)
                </th>
                <th class="Column2">
                    @Html.DisplayNameFor(model => model.ColumnDetails.SubHeader)
                </th>
                <th class="Column3">
                    @Html.DisplayNameFor(model => model.ColumnDetails.Text)
                </th>
                <th class="Column4">
                    @Html.DisplayNameFor(model => model.ColumnDetails.Photo)
                </th>
                <th class="Column5">
                    @Html.DisplayNameFor(model => model.ColumnDetails.Remarks)
                </th>
            </tr>


            @foreach (IGrouping<string, ReportBody> packageGroup in Model.MasterdetailList)
            {
                <tr>
                    <td colspan="5" style="background-color: silver;color:black;font-family:Verdana;font-size:11px;font-weight:bold;text-align:center;height:20px;">
                        @Html.DisplayFor(modelItem => packageGroup.Key)

                    </td>
                </tr>
                foreach (ReportBody checkListItem in packageGroup)
                {

                    <tr style="background-color: white;color:black;font-family:Verdana;font-size:11px;font-weight:normal;border:2px solid gray;">
                        <td class="Column1">
                            @Html.DisplayFor(modelItem => checkListItem.ChecklistId)
                        </td>
                        <td class="Column2">
                            @Html.DisplayFor(modelItem => checkListItem.SubHeader)
                        </td>
                        <td class="Column3">
                            @Html.DisplayFor(modelItem => checkListItem.Text)
                        </td>
                        <td class="Column4">
                            <img src="~/Images/ImageWriterUpdated.png" />
                        </td>
                        <td class="Column5">
                            @Html.DisplayFor(modelItem => checkListItem.Remarks)
                        </td>

                    </tr>
                }

            }



        </table>
    </div>
</body>
</html>
<link rel="stylesheet" href="~/Content/bootstrap.css" />
<link rel="stylesheet" href="~/Content/code.jquery.com_ui_1.11.4_themes_smoothness_jquery-ui.css" />
<link rel="stylesheet" href="~/Content/MaxLifeStyleSheet.css" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>

