@using PdfDemo
@using PdfDemo.Model
@model MaxAuditViewModel
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Branch Details</title>

</head>
<body>
    @using (Html.BeginForm("Search", "Home", FormMethod.Post))
    {
        <div class="PageHeaderSection" style="height:100%;position:unset;">
            <div class="card">
                <div class="card-body bg-info text-white"><h4>Search Branch Details</h4></div>
            </div>
            <div class="card-body">

                <div class="form-group">

                    <div class="row">
                        <div class="col-md-3">
                            <label for="Company">Company</label>
                            @Html.DropDownListFor(model => model.CurrentCompany, Model.Companies as List<SelectListItem>, "Select Company", new { @class = "form-control" })
                        </div>
                        <div class="col-md-3">
                            <label for="Location">Location</label>
                            @Html.DropDownListFor(model => model.CurrentLocation, Model.Locations as List<SelectListItem>, "Select Location", new { @class = "form-control" })
                        </div>
                        <div class="col-md-2">
                            <label for="FromDate">From Date</label>
                            @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                        </div>
                        <div class="col-md-2">
                            <label for="ToDate">To Date</label>
                            @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary SubmitButton">View Audit Branch details</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="BodyHeaderSection">
            <div class="card">
                <div class="card-body bg-info text-white bodyHeaderContent"><h4>Branch Details</h4></div>
            </div>
            <div style="width:100%;overflow:auto;padding:5px;height:350px;">
                <table id="gvBranchDetails" class="table table-bordered table-striped">

                    <tr>
                        <th class="text-center" width="5%">
                            @Html.DisplayNameFor(model => model.CurrentBranch.SerialNumber)
                        </th>
                        <th class="text-center" width="25%">
                            @Html.DisplayNameFor(model => model.CurrentBranch.BranchCode)
                        </th>
                        <th class="text-center" width="30%">
                            @Html.DisplayNameFor(model => model.CurrentBranch.BranchName)
                        </th>
                        <th class="text-center" width="30%">
                            @Html.DisplayNameFor(model => model.CurrentBranch.AuditTime)
                        </th>
                        <th class="text-center" width="10%"></th>
                    </tr>



                    @foreach (var item in Model.BranchDetails)
                    {
                        <tr>
                            <td class="text-left">
                                @Html.DisplayFor(modelItem => item.SerialNumber)
                            </td>
                            <td class="text-left">
                                @Html.DisplayFor(modelItem => item.BranchCode)
                            </td>
                            <td class="text-left">
                                @Html.DisplayFor(modelItem => item.BranchName)
                            </td>
                            <td class="text-left">
                                @Html.DisplayFor(modelItem => item.AuditTime)
                            </td>
                            <td class="text-center">
                                @Html.ActionLink("Audit Report", "Details", new { Branch = item.BranchCode, AuditDate = item.AuditTime, Location=item.LocationCode }) |
                            </td>
                        </tr>

                           }

                </table>
            </div>
        </div>

        
        











    }
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/code.jquery.com_ui_1.11.4_themes_smoothness_jquery-ui.css" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <style>
       
       th.nth-child
       {
           background-color:darkgrey;
       }
        tr:nth-child(odd) {
            background-color: lightgray;
        }

        tr:nth-child(even) {
            background-color: whitesmoke;
        }

        th.nth-child {
            background-color: darkblue;
        }

        .SubmitButton {
            margin-top: 25px;
        }

        .PageHeaderSection {
            width: 100%;
            position: relative;
            float: left;
            background-color: white;
            border-radius: 5px;
            border-width: 5px;
            border-color: black;
        }
        .bodyHeaderContent{
            background-color:lightblue;
            color:white;
        }
        .card {
            background-color: lightblue;
            padding: 5px;
            font-family: Arial;
            font-size: small;
            font-stretch: wider;
        }

        .card-body {
            padding: 5px;
        }

        .BodyHeaderSection {
            width: 100%;
            position: relative;
            float: left;
            background-color: transparent;
            border-radius: 5px;
            border-width: 5px;
            border-color: black;
            overflow:no-display;
            padding:5px;
        }
    </style>
    <script>
        $("#CurrentCompany").change(function () {
            var CompanyCode = $(this).val();
            $.ajax({
                cache: false,
                type: "POST",
                url: '@Url.Action("FetchLocations", "Home")',
                data: { "CompanyCode": CompanyCode },
                success: function (json, textStatus) {
                    $("#CurrentLocation").empty();
                    json = json || {};
                    $("#CurrentLocation").append('<option>Select Location </option>');

                    for (var i = 0; i < json.length; i++) {
                        $("#CurrentLocation").append('<option value="' + json[i].Value + '">' + json[i].Text + '</option>');
                    }
                    $("#ddlDesig").prop("disabled", false);
                },
                error: function () {
                    alert("Data Not Found");
                }
            });
        });
        $(document).ready(function () {
            $('input[type=datetime').datepicker(
            {
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd-M-yy',
                maxDate: new Date()


            })
        });
       
    </script>
</body>

</html>
