@using System.Data
@using System.Collections
@using System.Collections.Generic
@using Sams.Extensions.Model
@using Sams.Extensions.Utility
@using Sams.Extensions
@using Sams.Extensions.Model
@using Sams.Extensions.Web
@model EmployeeRosterViewModel
@foreach (var floorData in Model.ReportData.ReportData)
{
    var cellCount = floorData.Value.Columns.Count;
    var key = floorData.Key.Split(',');

    <table class="table-bordered" style="margin-top:5px;">
        <tr style="background-color:dodgerblue;color:white;font-family:Verdana;font-size:15px;font-weight:bold;">
            <th colspan="@cellCount" class="Details">
                <span>@key[0]</span><span>(@key[1])</span>
            </th>

        </tr>
        <tr style="background-color:lightblue;color:black;font-family:Arial;font-size:11px;font-weight:bold;">
            @foreach (DataColumn dataColumn in floorData.Value.Columns)
            {


                <th class="Header text-center">
                    @Html.DisplayName(dataColumn.ColumnName)
                </th>
            }
        </tr>

        @foreach (DataRow dr in floorData.Value.Rows)
        {
            <tr style="background-color: white;color:black;font-family:Verdana;font-size:11px;font-weight:normal;border:2px solid gray;">
                @foreach (DataColumn dataColumn in floorData.Value.Columns)
                {
                    <td class="Details text-left">
                        @Html.DisplayName(dr[dataColumn].ParseToText())
                    </td>
                }
            </tr>
        }


    </table>
}
